*{
    margin: 0;
    padding: 0;
    /* font-family: ; */
}
.navbar{
    /* background: rgba(0, 0, 0, 0.982); */
    /* background:; */
    background:#cb7736e2;

    height: 50px;
    display: flex;
    
}
.navbar h2{
    color: white;
    margin-top: 12px;
    margin-left: 40px;
}

.single{
    margin-left: 200px;
    margin-top:14px ;
    display: flex;
    gap: 30px;
}
.single a{
    color: white;
    text-decoration: none;
}
.single a:hover{
    color: #ff6f00;
}
/* ##################main############### */
.intro{
    background-color: black;
    
    height:545px;
    /* margin-left: 100px; */
}
.intro1{
    /* background:red; */
    margin-bottom: 50px;
    margin-left: 100px;
}
/* .intro1 h2{
    color: aliceblue;
    margin-left: 150px;
} */
.develop{
    color: aliceblue;
    display: flex;
    /* margin-left: 150px; */
    margin-bottom: 10px;
}
.develop .mey{
    color: #ff6f00;
}
.intro1 p{
    /* margin-left: 150px; */
    
}
.name{
    display: flex;
    /* margin-left: 150px; */

}
.name h1{
    color: white;
    font-size: 70px;
}
.name .mey{
    color: #ff6f00;
}
.intro1 p{
    color: aliceblue;

}
.display{
    display: flex;
    /* display: grid; */
    gap: 70px;
    align-items: center;
    justify-content: center;
}
.pic{
    width: 50%;
    /* background: red; */

}
.image{
    /* background:green; */
    width: 300px;
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    padding: 4px;
    background: red;

}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    /* margin-left: 300px; */
}
button{
    /* background: red; */
    margin: 12px;
    padding: 5px 13px;
    border-radius: 10px;
    border: none;
    /* background: #ce5b6182; */
    
}

